body {
  text-align: center;
  background-image: url(../assets/images/fon.JPG);
  height: 100vh;
  background-size: cover;
}

.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.left {
  float: left;
  text-align: center;
  width: 50%;
}

.right {
  width: 50%;
  float: left;
  text-align: center;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
}

